body{
    background-color: white;
    color: black;
}
html, body{
  margin:0;
  height:100%;
}

body{
  display:flex;
  flex-direction:column;
}

.map-container{
  width:100%;
  text-align:center;
  overflow:auto;   /* allow scroll if needed */
}

.map-container img{
  width:100%;      /* scale only by width */
  height:auto;     /* keep aspect ratio */
  display:block;
  margin:auto;
}